@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: inherit;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font: var(--font-text);
}

:root {
    --bg-color: #1E1E2F;
    --text-color: #F5F5F5;
    --text-color-hover: #F5F5F564;
    --bg-payment: #E7FE55;
    --bg-payment-hover: #007BFF;
    
    --font-family: 'Poppins', sans-serif;
    --font-h1: 700 1.5rem var(--font-family);
    --font-h2: 600 1rem var(--font-family);
    --font-place: 400 1.5rem var(--font-family);
    --font-text: 400 1rem var(--font-family);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

    padding: 5.0625rem 0.75rem;

    gap: 2.75rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & h1 {
        font: var(--font-h1);
        padding-bottom: 2.75rem;
    }
    
    & h2 {
        font: var(--font-h2);
    }
}

.method {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    gap: 0.6875rem;
    height: 123px;
    
    p {
        padding-bottom: 0.625rem;
        align-items: center;
        text-align: center;
    }

    & .payment {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 21.9375rem;
        height: 7.6875rem;

        border-radius: 0.625rem;
        border: 0.1875rem solid var(--bg-payment);
    }


    & .icon {
        display: flex;
        justify-content: center;
        align-items: center;


            width: 3.4375rem;
            height: 3.4375rem;
        
        gap: 11px   ;

        & .icons {
            border-radius: 50%;
            background-color: var(--bg-payment);
            gap: 11px;
        }

        & .img {
            display: flex;
            position: relative;

            padding: 11.5px;

            &:hover {
                background-color: var(--bg-payment-hover);
                border-radius: 50%;
            }
        }
    }
}

.infos {
    display: flex;
    position: relative;
    flex-direction: row;

    width: 20.3125rem;
    /* height: 4.625rem; */
    gap: 1.5625rem;

    & input {
        width: 9.375rem;
        padding: 1.25rem;

        border-radius: 0.625rem;
        border: 0.1875rem solid var(--bg-payment);

        background: transparent;
        color: var(--text-color);

        & .plate,
        .time {
            width: 17.3125rem;
            text-transform: uppercase;
        }

        &::placeholder {
            font: var(--font-text);
            color: var(--text-color-hover);
    }
    }
}

.valor {
    display: flex;
    align-items: center;
    justify-content: center;


    width: 19.875rem;
    height: 3.375rem;
    border-radius: 0.625rem;
    border: 0.1875rem solid var(--bg-payment);
    
    font: var(--font-place);
}

.button-pagar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 13.9375rem;;
    height: 3.6875rem;

    background-color: var(--bg-payment-hover);
    border-radius: 0.625rem;

    & button {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        
        padding: 1.4375rem 6.625rem;

        background: transparent;
        border: none;
        color: var(--text-color);
        font: var(--font-place);
        cursor: pointer;
    }
}

@media (min-width: 80em) {
    :root {
        --font-family: 'Poppins', sans-serif;
        --font-h1: 700 2.5rem var(--font-family);
        --font-h2: 600 1.5rem var(--font-family);
        --font-place: 400 1.5rem var(--font-family);
        --font-text: 400 1rem var(--font-family);
    }
    .container {
        padding: 8rem 2rem;
        gap: 2.75rem;
    }

    header {
        & h1 {
            font: var(--font-h1);
            padding-bottom: 2.75rem;
        }
        
        & h2 {
            font: var(--font-h2);
        }
    }

    .method {
        height: auto;

        & .payment {
            width: 30rem;
            height: 6.875rem;
        }

        & .icon {
            width: 4rem;
            height: 4rem;
            gap: 2.75rem;

        }
    }

    .infos {
        width: 30rem;
        gap: 2rem;

        & input {
            width: 14rem;
            padding: 1.5rem;
        }
    }

    .valor {
        width: 30rem;
        height: 4rem;
    }

    .button-pagar {
        width: 18rem;
        height: 4.5rem;

        & button {
            padding: 1.5rem 8rem;
        }
    }
}

input[type="text"], input[type="time"] {
    font-size: 1rem;
  
  @media (max-width: 600px) {
    input[type="text"], input[type="time"] {
      font-size: 0.875rem;
    }
  
    /* Reduzir o zoom ao focar nos inputs */
    input[type="text"]:focus, input[type="time"]:focus {
      font-size: 14px;
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
    }
  }
}